DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
POSTGRES_PORT=
SECURITY_SECRET_KEY=""
SECURITY_ALGORITHM="HS256"
SECURITY_TOKEN_EXPIRATION=30
DB_NAME=
DEBUG=true

ALLOWED_ORIGINS="*"

POKEMONTCG_IO_API_KEY=""

#Email
RESEND_API_KEY=
MAIL_FROM=
MAIL_FROM_NAME=

FRONTEND_URL=""

# Admin Area
ADMIN_EMAIL=""
ADMIN_SENHA=""

FRONTEND_URL=""

VITE_DEBUG=true
VITE_API_URL=