services:
  db:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql

  # -----------------------
  # Backend (FastAPI)
  # -----------------------
  backend:
    build:
      context: ../top-decked-backend
      dockerfile: docker/Dockerfile
    container_name: topdeck-backend
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"

  # -----------------------
  # Frontend + Nginx
  # -----------------------
  frontend:
    build:
      context: ../top-decked-frontend
      dockerfile: docker/Dockerfile
    container_name: topdeck-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: